<div class="d-flex justify-content-center">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div class="row mt-5">
    <% @cars.each do |car| %>
        <div class="col-md-4 mt-5">
            <div class="card">
            <%# check if the image is there, if not set default pic %>
            <% if car.pictures.first.present? %>
                <%= image_tag car.pictures.first, class: "card-img-top" %>
            <%elsif car.pictures.second.present? %>
                <%= image_tag car.pictures.second, class: "card-img-top" %>
            <%else%>
                <%= image_tag "default.PNG", class: "card-img-top" %>
            <%end%>

                <div class="card-body">
                    <h5 class="card-title"><%=car.make%> <%=car.model%></h5>
                    <p class="card-text">$<%=car.price%>0</p>
                    <%= link_to "Have a closer look", car_path(car.id), class: "btn btn-primary"%>
                </div>
            </div>
        </div>
        
    <%end%>
</div>
